<!DOCTYPE html>
<html ng-app="langDetectorApp">
<head>
<meta charset="ISO-8859-1">
<title>Language Detector</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="lib/angular.js"></script>
<script src="programming-lang-detector.js"></script>
</head>
<body>
<div ng-controller="langDetectorCtrl">
	<div class="container" style="margin-top: 50px;">
		<div class="well">
			<div class="text-center"><h2>Programming Language Detector</h2></div>
			<div class="row-fluid" style="margin-top: 50px">
				<div class="span3"></div>
				<div class="span6">
					<div class="row-fluid">
						<div><textarea ng-model="testCode" class="span12"  rows="10" cols="50"  type="text" placeholder="Please paste your code here"></textarea></div>
						<div><button style="padding: 15px; font-size: 16px;" class="btn btn-primary span12" ng-click="detectLanguage()">Submit Your Code</button></div>
							<div class="span12" ng-if="detectedLanguage"
								style="margin-top: 20px; font-size: 20px;">
								<span class="muted">Possible
									Language:&nbsp;<span>{{detectedLanguage | uppercase}}</span></span>
							</div>
						</div>
				</div>
				<div class="span3"><!-- {{tempArr}} --></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>